@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-ic-2:before {
  content: "\61";
}
.icon-ico-ic-3:before {
  content: "\62";
}
.icon-ico-ic-4:before {
  content: "\63";
}
.icon-ico-ic-5:before {
  content: "\64";
}
.icon-ico-ic-6:before {
  content: "\65";
}
.icon-ico-ic-7:before {
  content: "\66";
}
.icon-ico-ic-8:before {
  content: "\67";
}
.icon-ico-ic-9:before {
  content: "\68";
}
.icon-ico-ic-10:before {
  content: "\69";
}
.icon-ico-ic-11:before {
  content: "\6a";
}
.icon-ico-ic-12:before {
  content: "\6b";
}
.icon-ico-ic-13:before {
  content: "\6c";
}
.icon-ico-ic-14:before {
  content: "\6d";
}
.icon-ico-ic-15:before {
  content: "\6e";
}
.icon-ico-ic-16:before {
  content: "\6f";
}
.icon-ico-ic-17:before {
  content: "\70";
}
.icon-ico-ic-18:before {
  content: "\71";
}
.icon-ico-ic-19:before {
  content: "\72";
}
.icon-ico-ic-20:before {
  content: "\73";
}
.icon-ico-ic-21:before {
  content: "\74";
}
.icon-ico-ic-22:before {
  content: "\75";
}
.icon-ico-ic-23:before {
  content: "\76";
}
.icon-ico-ic-24:before {
  content: "\77";
}
.icon-ico-ic-25:before {
  content: "\78";
}
.icon-ico-ic-26:before {
  content: "\79";
}
.icon-ico-ic-27:before {
  content: "\7a";
}
.icon-ico-ic-28:before {
  content: "\41";
}
.icon-ico-ic-29:before {
  content: "\42";
}
.icon-ico-ic-30:before {
  content: "\43";
}
.icon-ico-ic-31:before {
  content: "\44";
}
.icon-ico-ic-32:before {
  content: "\45";
}
.icon-ico-ic-33:before {
  content: "\46";
}
.icon-ico-ic-34:before {
  content: "\47";
}
.icon-ico-ic-35:before {
  content: "\48";
}
.icon-ico-ic-36:before {
  content: "\49";
}
.icon-ico-ic-37:before {
  content: "\4a";
}
.icon-ico-ic-38:before {
  content: "\4b";
}
.icon-ico-ic-39:before {
  content: "\4c";
}
.icon-ico-ic-40:before {
  content: "\4d";
}
.icon-ico-ic-41:before {
  content: "\4e";
}
.icon-ico-ic-42:before {
  content: "\4f";
}
.icon-ico-ic-43:before {
  content: "\50";
}
.icon-ico-ic-44:before {
  content: "\51";
}
.icon-ico-ic-45:before {
  content: "\52";
}
.icon-ico-ic-46:before {
  content: "\53";
}
.icon-ico-ic-47:before {
  content: "\54";
}
.icon-ico-ic-48:before {
  content: "\55";
}
.icon-ico-ic-49:before {
  content: "\56";
}
.icon-ico-ic-50:before {
  content: "\57";
}
.icon-ico-ic-51:before {
  content: "\58";
}
.icon-ico-ic-52:before {
  content: "\59";
}
.icon-ico-ic-53:before {
  content: "\5a";
}
.icon-ico-ic-54:before {
  content: "\30";
}
.icon-ico-ic-55:before {
  content: "\31";
}
.icon-ico-ic-56:before {
  content: "\32";
}
.icon-ico-ic-57:before {
  content: "\33";
}
.icon-ico-ic-58:before {
  content: "\34";
}
.icon-ico-ic-59:before {
  content: "\35";
}
.icon-ico-ic-60:before {
  content: "\36";
}
.icon-ico-ic-61:before {
  content: "\37";
}
.icon-ico-ic-62:before {
  content: "\38";
}
.icon-ico-ic-63:before {
  content: "\39";
}
.icon-ico-ic-64:before {
  content: "\21";
}
.icon-ico-ic-65:before {
  content: "\22";
}
.icon-ico-ic-66:before {
  content: "\23";
}
.icon-ico-ic-67:before {
  content: "\24";
}
.icon-ico-ic-68:before {
  content: "\25";
}
.icon-ico-ic-69:before {
  content: "\26";
}
.icon-ico-ic-70:before {
  content: "\27";
}
.icon-ico-ic-71:before {
  content: "\28";
}
.icon-ico-ic-72:before {
  content: "\29";
}
.icon-ico-ic-73:before {
  content: "\2a";
}
.icon-ico-ic-74:before {
  content: "\2b";
}
.icon-ico-ic-75:before {
  content: "\2c";
}
.icon-ico-ic-76:before {
  content: "\2d";
}
.icon-ico-ic-77:before {
  content: "\2e";
}
.icon-ico-ic-78:before {
  content: "\2f";
}
.icon-ico-ic-79:before {
  content: "\3a";
}
.icon-ico-ic-80:before {
  content: "\3b";
}
.icon-ico-ic-82:before {
  content: "\3c";
}
.icon-ico-ic-83:before {
  content: "\3d";
}
.icon-ico-ic-84:before {
  content: "\3e";
}
.icon-ico-ic-85:before {
  content: "\3f";
}
.icon-ico-ic-86:before {
  content: "\40";
}
.icon-ico-ic-87:before {
  content: "\5b";
}
.icon-ico-ic-88:before {
  content: "\5d";
}
.icon-ico-ic-89:before {
  content: "\5e";
}
.icon-ico-ic-90:before {
  content: "\5f";
}
.icon-ico-ic-92:before {
  content: "\60";
}
.icon-ico-ic-93:before {
  content: "\7b";
}
.icon-ico-ic-81:before {
  content: "\7c";
}
.icon-ico-ic-91:before {
  content: "\7d";
}
.icon-ico-ic-1:before {
  content: "\7e";
}
.icon-medsos-ic-61:before {
  content: "\5c";
}
.icon-medsos-ic-62:before {
  content: "\e000";
}
.icon-medsos-ic-63:before {
  content: "\e001";
}
.icon-medsos-ic-64:before {
  content: "\e002";
}
